/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.occasions, .flowers {
    text-align: center;
    margin-top: 30px;
}
img {
    width: 17vw;
    height: auto;
    object-fit: cover;
    object-position: center;
    position: relative;
}
.blurImg{
    width: 17vw; 
    height: auto;
    background-size: cover;
    background-position: center;
    position: relative;
}
.blurImg img {
    width: 100%;
    height: 100%; 
    object-fit: fill; 
}
.blurImg .loaded > img{
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}
.blur > img{
    opacity: 0;
}
.blurImg::before {
    content: '';
    position: absolute;
    inset: 0;
    animation:  pulse 2.5 infinite;
}
.blueImg .loaded::before{
    content: none;
}
@keyframes pulse{
    0% {
        backgroundcolor: rgba(255, 255, 255, 0);
    }
    50% {
        backgroundcolor: rgba(255, 255, 255, .1);
    }
    100% {
        backgroundcolor: rgba(255, 255, 255, 0);
    }
}
.sympathy-imgs, .love-imgs, .graduation-imgs,
.ramoBuchon-imgs, .arrangements-imgs, .bouquets-imgs {
    display: none;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.show {
    display: flex;
}
.viewMore {
    border: 1px solid #AE2C21;
    width: 17vw;
    height: 8vh;
    background-color: white;
    font-family: "Cardo", serif;
    font-size: 2.1vw;
    color: #AE2C21;
    font-weight: lighter;
}
.view-more-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
h2 {
    font-family: "Carattere", serif;
    font-size: 5vh;
    color: #AE2C21;
}
button {
    background: none;
    cursor: pointer;
    border: none;
    padding: none;
    font-size: 1.8vh;
}
.buttons button.active {
    color: #AE2C21;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.buttons button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
}
.buttons button:not(:last-child)::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    width: 1px;
    background-color: #AE2C21;
}
.flowers{
    margin-top: 50px;
}
.viewMore:hover{
    background-color: #AE2C21;
    color: white;
    transition: 300ms ease-in;
}
.alignment {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}
.prev-btn {
    left: 100px; 
    display: none;
}
.next-btn {
    right: 100px;
}
#VMLove , #VMArrang{
    display: none;
}
